
    body, html {
      height: 100%;
      font-family: "Inconsolata", sans-serif;
      text-align: center;
      display: block;

    }

#home{

background-position:center;
background-repeat:no-repeat;
background:url("images/background/image1.jpg");
background-size: cover;
min-height: 80%;
color: white;
padding: top right bottom left;
}

#services{
  background-position:center;
  background-repeat:no-repeat;
background:url("images/background/image2.jpg");
min-height: 50%;
color: white;
padding: top right bottom left;
}

#contact{
  background-position:center;
  background-repeat:no-repeat;
background:url("images/background/image3.jpg");
min-height: 70%;
color: white;
padding: top right bottom left;
}

.logo{
  width: 100px;
  height: 100px;
  width: auto;
  height: auto;
  float: none;
  padding: 22.5px 0px 0px 0px; /*to make it exactly to the center*/
  }
}


.mouse{
  width: 100px;
  height: 100px;
  width: auto;
  height: auto;
  float: none;
  padding: 22.5px 0px 0px 0px; /*to make it exactly to the center*/
}
.row,
.row > .column {
  padding: 8px;
}

.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:70px;
  height:70px;
  margin-right: 20px;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-md-3:hover .image {
  opacity: 0.3;
}

.col-md-3:hover .middle {
  opacity: 1;
}

.project {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#00b09c; border-color:#00b09c; color:#fff;}
.main-btn:hover{ background:#00a491;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
